<config>
    <features arch="armeabi-v7a">
        <feature name="remoteservices">
            <artifact name="remote_service_admin_dfi"/>
            <artifact name="discovery_etcd"/>
            <artifact name="topology_manager"/>
        </feature>
        <feature name="processor">
            <artifact name="org.inaetics.demonstrator.api.processor.Processor"/>
        </feature>
        <feature name="producer">
            <artifact name="org.inaetics.demonstrator.api.producer.Producer"/>
        </feature>
        <feature name="shake_detection">
            <artifact name="org.inaetics.demonstrator.android.shakedetection"/>
        </feature>

    </features>
    <features arch="armeabi">
        <feature name="remoteservices">
            <artifact name="remote_service_admin_dfi"/>
            <artifact name="discovery_etcd"/>
            <artifact name="topology_manager"/>
        </feature>
        <feature name="processor">
            <artifact name="org.inaetics.demonstrator.api.processor.Processor"/>
        </feature>
        <feature name="producer">
            <artifact name="org.inaetics.demonstrator.api.producer.Producer"/>
        </feature>
        <feature name="shake_detection">
            <artifact name="org.inaetics.demonstrator.android.shakedetection"/>
        </feature>
    </features>

    <distributions arch="armeabi-v7a">
        <distribution name="processor">
            <feature name="processor"/>
            <feature name="remoteservices"/>
        </distribution>
        <distribution name="producer">
            <feature name="producer"/>
            <feature name="shake_detection"/>
            <feature name="remoteservices"/>
        </distribution>
    </distributions>
    <distributions arch="armeabi">
        <distribution name="processor">
            <feature name="processor"/>
            <feature name="remoteservices"/>
        </distribution>
        <distribution name="producer">
            <feature name="producer"/>
            <feature name="shake_detection"/>
            <feature name="remoteservices"/>
        </distribution>
    </distributions>


    <targets arch="armeabi-v7a">
        <target name="group1">
        </target>
        <target name="group2">
        </target>
    </targets>
    <targets arch="armeabi">
        <target name="group1">
        </target>
        <target name="group2">
        </target>
    </targets>
</config>
